script(src='http://code.jquery.com/jquery-1.11.0.min.js')

form(method="POST", action="/")

 p Name
  input(type='text', name='username', class='form-control', 
            id='username', placeholder='Enter username',
            required, data-required-msg='Username is required')
 p Email
  input(type='email', name='email', class='form-control', 
            id='email', placeholder='Enter email',
            required data-required-msg='Email address is required')    
  
 p
  input(type="submit")



script(src='http://localhost/node/form-validate.js')
